:root {
  --main-background-color: #0077d4;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-background-color);
}

h1 {
  margin: 0;
}
